
pcbuilder/__pycache__/__init__.cpython-311.pyc
pcbuilder/__pycache__/admin.cpython-311.pyc
pcbuilder/__pycache__/apps.cpython-311.pyc
pcbuilder/__pycache__/models.cpython-311.pyc
pcbuilder/__pycache__/urls.cpython-311.pyc
pcbuilder/__pycache__/views.cpython-311.pyc
pcbuilder/migrations/__pycache__/0001_initial.cpython-311.pyc
pcbuilder/migrations/__pycache__/0002_cpu_delete_cooler.cpython-311.pyc
pcbuilder/migrations/__pycache__/0003_case_cpu_cooler_gpu_motherboard_psu_ram_storage.cpython-311.pyc
pcbuilder/migrations/__pycache__/0004_alter_case_form_supp.cpython-311.pyc
pcbuilder/migrations/__pycache__/0005_pc_parts.cpython-311.pyc
pcbuilder/migrations/__pycache__/0006_delete_pc_parts.cpython-311.pyc
pcbuilder/migrations/__pycache__/0007_saved_build.cpython-311.pyc
pcbuilder/migrations/__pycache__/0008_delete_saved_build.cpython-311.pyc
pcbuilder/migrations/__pycache__/0009_saved_build.cpython-311.pyc
pcbuilder/migrations/__pycache__/0010_application.cpython-311.pyc
pcbuilder/migrations/__pycache__/0011_rename_storage_application_disk_space.cpython-311.pyc
pcbuilder/migrations/__pycache__/0012_main_build_test_model.cpython-311.pyc
pcbuilder/migrations/__pycache__/__init__.cpython-311.pyc
techbrix_pcbuilder/__pycache__/__init__.cpython-311.pyc
techbrix_pcbuilder/__pycache__/settings.cpython-311.pyc
techbrix_pcbuilder/__pycache__/urls.cpython-311.pyc
techbrix_pcbuilder/__pycache__/wsgi.cpython-311.pyc
pcbuilder/migrations/__pycache__/0013_alter_case_options_alter_cpu_options_and_more.cpython-311.pyc
*.pyc
*.pyc
*.pyc
*.pyc
