<!-- These codes are developed by BSCpE 3-5's Mamink_mink Monkeys group; AY 2021-2022. -->
{% load static %}
<!DOCTYPE html>

<html lang=en-PH dir="ltr">
    <head>
        <meta charset="UTF-8">
        <meta name="author" content="Mamink_mink Monkeys">
        <meta name="copyright" content="Moneykiss Studio">
        <meta name="description" content="Mamink_mink PC Builder is a free online PC builder by Mamink_mink Monkeys group.">
        <meta name="keywords" content="PC, Builder, PC Builder">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <link rel="icon" type="image/x-icon" href="{% static 'assets/gfx/favicon.png' %}">
        <link rel="stylesheet" href="{% static 'assets/styles/style.css' %}">

        <title>Sysreqs DB | TBX PC Builder</title>
    </head>

    <body>

        <div id="navbar" class="navbar">
            <button class="fancy-burger">
                <span class="rectangle rectangle--top rectangle--small"></span>
                <span class="rectangle rectangle--middle"></span>
                <span class="rectangle rectangle--bottom rectangle--small"></span>
            </button>
            <h1 class="navbar-title">Sysreqs <span>DB</span></h1>
        </div>

        <div id="navpnl"class="nav-panel">
            <ol>
                <li>
                    <span>01</span>
                    <a href="{% url 'index' %}">Home</a></li>
                <li>
                    <span>02</span>
                    <a href="{% url 'build-pc' %}">Build PC</a></li>
                <li>
                    <span>03</span>
                    <a href="{% url 'browse-builds' %}">Browse Builds</a></li>
                <li>
                    <span>04</span>
                    <a href="#" class="nav-active">Sysreqs DB</a></li>
                <li>
                    <span>05</span>
                    <a href="{% url 'ar-guide' %}">AR Guide</a></li>
            </ol>
        </div>
          
        <div class="hscroll-wrapper">
            <div class="hscroll-content">
                <div class="content"></div>
                <div class="content"></div>
                <div class="content"></div>
                <div class="content"></div>
            </div>
        </div>

        <div class="content-wrapper-col">
            <div class="cont-header">
                <h1>System Requirements DB</h1>
                <form action="{% url 'search_apps' %}" method="GET" id="form" role="search">
                    <input type="search" id="query" name="q"
                    placeholder="Search..."
                    aria-label="Search through site content">
                    <button>
                        <svg viewBox="0 0 1024 1024"><path class="path1" d="M848.471 928l-263.059-263.059c-48.941 36.706-110.118 55.059-177.412 55.059-171.294 0-312-140.706-312-312s140.706-312 312-312c171.294 0 312 140.706 312 312 0 67.294-24.471 128.471-55.059 177.412l263.059 263.059-79.529 79.529zM189.623 408.078c0 121.364 97.091 218.455 218.455 218.455s218.455-97.091 218.455-218.455c0-121.364-103.159-218.455-218.455-218.455-121.364 0-218.455 97.091-218.455 218.455z"></path></svg>
                    </button>
                </form>
            </div>
            <section class="item-list">
                <div class="grid-container col">

                    {% for app in APPLICATION_list %}
                    <!--NEED TO PASS THE CURRENT app -->
                    <div class="grid-item col-item" onclick="popupApp(this)">
                        <h1 class="appName">{{ app.name }}</h1>
                        <p class="appSpecs" style="display:none;">
                            <span class="highlight">CPU:</span> {{ app.CPU }}<br>
                            <span class="highlight">RAM:</span> {{ app.RAM }}<br>
                            <span class="highlight">OS:</span> {{ app.OS }}<br>
                            <span class="highlight">GPU:</span> {{ app.GPU }}<br>
                            <span class="highlight">Required Disk Space:</span> {{ app.DISK_SPACE }}<br>                        
                        </p>
                    </div>
                    {% endfor %}

                </div>
            </section>
        </div>

        <!--DITO PAPALITAN PA TO FOR ITS OWN POPUP 
            HINIRAM KO LANG YUNG savepnl AS A PLACEHOLDER-->
        <div id="popupPnl" class="sysreqs-panel">
            <div class="savetitle">
                <marquee id="popup-title" direction="left" scrollamount="25">
                    SAVE YOUR BUILD • SAVE YOUR BUILD
                </marquee>
            </div>
            <div class="savecont">
                <!--vv  appSpecs go into here vv-->
               <p id="text"></p>
            </div>
            <div class="savebtns">
                <button type="button" onclick="closePopup()">Cancel</button>
            </div>
        </div>

        <script src="{% static 'assets/scripts/script.js' %}"></script>
    </body>
</html>